<a href="https://colab.research.google.com/github/cod3astro/dsnBootcamp/blob/main/colab_dsn_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv', index_col='id')
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
id,,,,,,,,,,,,
0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [4]:
df.shape

(188533, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188533 entries, 0 to 188532
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         188533 non-null  object
 1   model         188533 non-null  object
 2   model_year    188533 non-null  int64
 3   milage        188533 non-null  int64
 4   fuel_type     183450 non-null  object
 5   engine        188533 non-null  object
 6   transmission  188533 non-null  object
 7   ext_col       188533 non-null  object
 8   int_col       188533 non-null  object
 9   accident      186081 non-null  object
 10  clean_title   167114 non-null  object
 11  price         188533 non-null  int64
dtypes: int64(3), object(9)
memory usage: 18.7+ MB

In [6]:
df.describe(include='object')

,brand,model,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
count,188533,188533,183450,188533,188533,188533,188533,186081,167114
unique,57,1897,7,1117,52,319,156,2,1
top,Ford,F-150 XLT,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes
freq,23088,2945,165940,3462,49904,48658,107674,144514,167114

In [8]:
df.isnull().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

In [10]:
for col in df.columns:
  unique_columns = df[col].unique()
  print(f'{col}: has {len(unique_columns)} unique values')
  print(unique_columns)

brand: has 57 unique values
['MINI' 'Lincoln' 'Chevrolet' 'Genesis' 'Mercedes-Benz' 'Audi' 'Ford'
 'BMW' 'Tesla' 'Cadillac' 'Land' 'GMC' 'Toyota' 'Hyundai' 'Volvo'
 'Volkswagen' 'Buick' 'Rivian' 'RAM' 'Hummer' 'Alfa' 'INFINITI' 'Jeep'
 'Porsche' 'McLaren' 'Honda' 'Lexus' 'Dodge' 'Nissan' 'Jaguar' 'Acura'
 'Kia' 'Mitsubishi' 'Rolls-Royce' 'Maserati' 'Pontiac' 'Saturn' 'Bentley'
 'Mazda' 'Subaru' 'Ferrari' 'Aston' 'Lamborghini' 'Chrysler' 'Lucid'
 'Lotus' 'Scion' 'smart' 'Karma' 'Plymouth' 'Suzuki' 'FIAT' 'Saab'
 'Bugatti' 'Mercury' 'Polestar' 'Maybach']
model: has 1897 unique values
['Cooper S Base' 'LS V8' 'Silverado 2500 LT' ... 'e-Golf SE'
 'Integra w/A-Spec Tech Package' 'IONIQ Plug-In Hybrid SEL']
model_year: has 34 unique values
[2007 2002 2017 2021 2018 2016 2020 2015 2011 2013 2023 2019 2012 2014
 2008 2009 2022 2003 2005 2001 2006 2000 2010 2004 1997 1998 1999 1994
 1993 1996 1995 2024 1974 1992]
milage: has 6651 unique values
[213000 143250 136731 ...   4721   2922 134603]
fuel_type: has 8 unique values
['Gasoline' 'E85 Flex Fuel' nan 'Hybrid' 'Diesel' 'Plug-In Hybrid' '–'
 'not supported']
engine: has 1117 unique values
['172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel'
 '252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel'
 '320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capability' ...
 '78.0HP 1.2L 3 Cylinder Engine Gasoline Fuel'
 '139.0HP 1.6L 4 Cylinder Engine Plug-In Electric/Gas'
 '313.0HP 2.0L 4 Cylinder Engine Plug-In Electric/Gas']
transmission: has 52 unique values
['A/T' 'Transmission w/Dual Shift Mode' '7-Speed A/T' '8-Speed A/T'
 '10-Speed Automatic' '1-Speed A/T' '6-Speed A/T' '10-Speed A/T'
 '9-Speed A/T' '8-Speed Automatic' '9-Speed Automatic' '5-Speed A/T'
 'Automatic' '7-Speed Automatic with Auto-Shift' 'CVT Transmission'
 '5-Speed M/T' 'M/T' '6-Speed M/T' '6-Speed Automatic' '4-Speed Automatic'
 '7-Speed M/T' '2-Speed A/T' '1-Speed Automatic' 'Automatic CVT'
 '4-Speed A/T' '6-Speed Manual' 'Transmission Overdrive Switch'
 '8-Speed Automatic with Auto-Shift' '7-Speed Manual' '7-Speed Automatic'
 '9-Speed Automatic with Auto-Shift' '6-Speed Automatic with Auto-Shift'
 '6-Speed Electronically Controlled Automatic with O' 'F' 'CVT-F'
 '8-Speed Manual' 'Manual' '–' '2' '6 Speed At/Mt' '5-Speed Automatic'
 '2-Speed Automatic' '8-SPEED A/T' '7-Speed' 'Variable'
 'Single-Speed Fixed Gear' '8-SPEED AT'
 '10-Speed Automatic with Overdrive' '7-Speed DCT Automatic'
 'SCHEDULED FOR OR IN PRODUCTION' '6-Speed' '6 Speed Mt']
ext_col: has 319 unique values
['Yellow' 'Silver' 'Blue' 'Black' 'White' 'Snowflake White Pearl Metallic'
 'Gray' 'Green' 'Santorini Black Metallic' 'Purple'
 'Ebony Twilight Metallic' 'Red' 'Magnetite Black Metallic'
 'Diamond Black' 'Vega Blue' 'Beige' 'Gold' 'Platinum White Pearl'
 'Metallic' 'White Frost Tri-Coat' 'Firecracker Red Clearcoat'
 'Phytonic Blue Metallic' 'Blu' 'Orange' 'Brown'
 'Brilliant Silver Metallic' 'Black Raven' 'Black Clearcoat' 'Firenze Red'
 'Agate Black Metallic' 'Glacial White Pearl' 'Majestic Plum Metallic'
 'designo Diamond White Metallic' 'Oxford White' 'Black Sapphire Metallic'
 'Mythos Black' 'Granite Crystal Clearcoat Metallic'
 'White Diamond Tri-Coat' 'Magnetite Gray Metallic'
 'Carpathian Grey Premium Metallic' 'designo Diamond White Bright'
 'Phantom Black Pearl Effect / Black Roof' 'Nebula Gray Pearl'
 'Deep Crystal Blue Mica' 'Flame Red Clearcoat' 'Lunar Blue Metallic'
 'Bright White Clearcoat' 'Rapid Red Metallic Tinted Clearcoat' 'Caviar'
 'Dark Ash Metallic' 'Velvet Red Pearlcoat' 'Silver Zynith' 'Super Black'
 'Antimatter Blue Metallic' 'Dark Moon Blue Metallic' 'Summit White'
 'Ebony Black' '–' 'Black Cherry' 'Delmonico Red Pearlcoat'
 'Platinum Quartz Metallic' 'Ultra White' 'Python Green'
 'Garnet Red Metallic' 'Snow White Pearl' 'Cajun Red Tintcoat'
 'Midnight Black Metallic' 'Diamond White' 'Mythos Black Metallic'
 'Soul Red Crystal Metallic' 'Atomic Silver' 'Obsidian'
 'Magnetic Metallic' 'Twilight Blue Metallic' 'Star White' 'Stormy Sea'
 'Tango Red Metallic' 'Hyper Red' 'Portofino Gray'
 'MANUFAKTUR Diamond White Bright' 'Snowflake White Pearl'
 'Patriot Blue Pearlcoat' 'Tungsten Metallic' 'Chronos Gray Metallic'
 'Silver Ice Metallic' 'Daytona Gray Pearl Effect'
 'Ruby Red Metallic Tinted Clearcoat' 'Alpine White' 'Eminent White Pearl'
 'Manhattan Noir Metallic' 'Quicksilver Metallic' 'Stellar Black Metallic'
 'Sparkling Silver' 'Blueprint' 'Crystal Black Silica' 'Black Noir Pearl'
 'Arancio Borealis' 'Typhoon Gray' 'Ibis White' 'Graphite Grey'
 'Mineral White' 'Midnight Black' 'Northsky Blue Metallic' 'Alta White'
 'Brilliant Black' 'Jet Black Mica'
 'Daytona Gray Pearl Effect w/ Black Roof' 'Redline Red'
 'Glacier Silver Metallic' 'Magnetic Black' 'Chronos Gray'
 'Red Quartz Tintcoat' 'Nero Noctis' 'Firenze Red Metallic'
 'Iridescent Pearl Tricoat' 'Twilight Black' 'Radiant Red Metallic II'
 'Blue Metallic' 'Glacier White' 'Daytona Gray' 'Rosso Mars Metallic'
 'Wolf Gray' 'Santorin Black' 'Designo Magno Matte'
 'Emerald Green Metallic' 'Ruby Flare Pearl' 'Lunar Silver Metallic'
 'Eiger Grey Metallic' 'Quartzite Grey Metallic' 'Barcelona Red'
 'Beluga Black' 'Matador Red Metallic' 'Billet Silver Metallic Clearcoat'
 'Anodized Blue Metallic' 'Black Forest Green' 'Ice Silver Metallic'
 'Sandstone Metallic' 'Magnetic Gray Clearcoat' 'Crystal Black Pearl'
 'Pacific Blue Metallic' 'Stone Gray Metallic' 'Iconic Silver Metallic'
 'Dark Sapphire' 'Onyx' 'Aventurine Green Metallic' 'China Blue'
 'Majestic Black Pearl' 'Midnight Silver Metallic' 'Sting Gray Clearcoat'
 'Glacier Blue Metallic' 'BLACK' 'Chalk' 'Dark Matter Metallic'
 'Infrared Tintcoat' 'Iridium Metallic' 'Fuji White' 'Alfa White'
 'Kodiak Brown Metallic' 'Aurora Black' 'Onyx Black'
 'Nightfall Gray Metallic' 'Obsidian Black Metallic' 'Phantom Black'
 'Remington Red Metallic' 'designo Diamond White' 'Lizard Green'
 'Rosso Corsa' 'Shadow Gray Metallic' 'Florett Silver' 'Quartz White'
 'DB Black Clearcoat' 'Yulong White' 'Eiger Grey' 'Custom Color'
 'Electric Blue Metallic' 'Tempest' 'Lunar Rock' 'Mosaic Black Metallic'
 'Gecko Pearlcoat' 'White Clearcoat' 'BLU ELEOS'
 'Granite Crystal Metallic Clearcoat' 'Rich Garnet Metallic'
 'Graphite Grey Metallic' 'Bianco Icarus Metallic' 'Satin Steel Metallic'
 'BLUE' 'Moonlight Cloud' 'Matador Red Mica' 'Emin White'
 'Machine Gray Metallic' 'White Platinum Tri-Coat Metallic'
 'Cobra Beige Metallic' 'Cayenne Red Tintcoat' 'Shoreline Blue Pearl'
 'Vik Black' 'Shimmering Silver' 'Bianco Monocerus'
 'Carbonized Gray Metallic' 'Carrara White Metallic' 'Dark Slate Metallic'
 'Dark Graphite Metallic' 'Sonic Silver Metallic'
 'White Knuckle Clearcoat' 'Titanium Silver' 'Anthracite Blue Metallic'
 'Black Obsidian' 'Polymetal Gray Metallic' 'Orca Black Metallic'
 'Wind Chill Pearl' 'Blue Reflex Mica' 'Dark Moss'
 'Selenite Grey Metallic' 'Kemora Gray Metallic' 'Nightfall Mica'
 'Liquid Platinum' 'Mountain Air Metallic' 'Kinetic Blue'
 'Santorini Black' 'Carbon Black Metallic' 'Gentian Blue Metallic'
 'Red Multi' 'Super White' 'Pearl White' 'Typhoon Gray Metallic'
 'Navarra Blue Metallic' 'Bianco Isis' 'Navarra Blue'
 'Volcano Grey Metallic' 'Arctic Gray Metallic' 'Pure White' 'Baltic Gray'
 'Glacier White Metallic' 'Frozen Dark Silver Metallic'
 'Magnetic Gray Metallic' 'Gun Metallic' 'Siren Red Tintcoat'
 'Deep Blue Metallic' 'Cirrus Silver Metallic' 'Deep Black Pearl Effect'
 'Granite' 'Sunset Drift Chromaflair' 'Oryx White Prl'
 'Dark Gray Metallic' 'Bayside Blue' 'Pink' 'Ice' 'Mango Tango Pearlcoat'
 'Burnished Bronze Metallic' 'Verde' 'Arctic White'
 'Portofino Blue Metallic' 'Dazzling White' 'Nero Daytona'
 'Nautical Blue Pearl' 'Imperial Blue Metallic' 'Vulcano Black Metallic'
 'Silver Radiance' 'Hellayella Clearcoat' 'Jungle Green' 'C / C' 'Yulong'
 'Pristine White' 'Silky Silver' 'Caspian Blue' 'Sangria Red'
 'Donington Grey Metallic' 'Apex Blue' 'Rift Metallic' 'Fountain Blue'
 'Balloon White' 'Matte White' 'Frozen White' 'Pacific Blue' 'Rosso'
 'Ironman Silver' 'Octane Red Pearlcoat' 'Selenite Gray Metallic'
 'Hydro Blue Pearlcoat' 'Ingot Silver Metallic' 'Quartz Blue Pearl'
 'Lunare White Metallic' 'Ember Pearlcoat' 'Brands Hatch Gray Metallic'
 'Navarre Blue' 'Midnight Blue Metallic' 'Shadow Black' 'Go Mango!'
 'Maximum Steel Metallic' 'Silver Flare Metallic'
 'Billet Clearcoat Metallic' 'Hampton Gray' 'Red Obsession' 'Silver Mist'
 'Scarlet Ember' 'Crimson Red Tintcoat' 'Tan' 'Isle of Man Green Metallic'
 'Crystal Black' 'Glacier' 'Iridium Silver Metallic'
 'Bronze Dune Metallic' 'Maroon' 'Platinum Gray Metallic' 'Passion Red'
 'Silician Yellow' 'Volcanic Orange' 'Crystal White Pearl' 'Reflex Silver'
 'Blue Caelum' 'Thunder Gray' 'Ultra Black' 'Indus Silver' 'Horizon Blue'
 'Grigio Nimbus' 'Carpathian Grey' 'Ametrin Metallic' 'Jupiter Red'
 'GT SILVER']
int_col: has 156 unique values
['Gray' 'Beige' 'Black' '–' 'Blue' 'White' 'Red' 'Brown' 'Dark Galvanized'
 'Parchment.' 'Boulder' 'Orange' 'Medium Earth Gray' 'Ebony'
 'Canberra Beige' 'Jet Black' 'Silver' 'Light Platinum / Jet Black'
 'Macchiato/Magmagrey' 'Gold' 'Cloud' 'Rioja Red' 'Global Black' 'Green'
 'Medium Stone' 'Navy Pier' 'Dark Ash' 'BLACK' 'Portland' 'Sandstone'
 'Canberra Beige/Black' 'Diesel Gray / Black' 'Sarder Brown' 'Black Onyx'
 'White / Brown' 'Black/Gun Metal' 'Slate' 'Satin Black'
 'Macchiato Beige/Black' 'Charcoal' 'Black / Express Red' 'Cappuccino'
 'Aragon Brown' 'Parchment' 'Oyster W/Contrast' 'Adrenaline Red' 'Ebony.'
 'Shara Beige' 'Graystone' 'Pearl Beige' 'Nero Ade' 'Graphite'
 'Tan/Ebony/Ebony' 'Charcoal Black' 'Medium Ash Gray' 'Ebony Black'
 'Light Titanium' 'Sakhir Orange' 'Tan' 'Rock Gray' 'Brandy'
 'Carbon Black' 'Amber' 'Black w/Red Stitching' 'Hotspur' 'Chateau' 'Ice'
 'Deep Garnet' 'Blk' 'Grace White' 'Oyster/Black' 'Mesa' 'Espresso'
 'Black/Graphite' 'Ebony / Ebony Accents' 'Tan/Ebony' 'Ceramic'
 'Medium Dark Slate' 'Graphite w/Gun Metal' 'Obsidian Black'
 'Cocoa / Dune' 'Roast' 'Yellow' 'Hotspur Hide' 'Gray w/Blue Bolsters'
 'Chestnut' 'Saiga Beige' 'ORANGE' 'Charles Blue' 'Walnut' 'Ivory / Ebony'
 'Caramel' 'Pimento Red w/Ebony' 'Saddle Brown' 'Dark Gray'
 'Silk Beige/Espresso Brown' 'Black / Brown' 'Ebony/Light Oyster Stitch'
 'Ebony / Pimento' 'Mistral Gray / Raven' 'Giallo Taurus / Nero Ade'
 'Tension' 'Medium Pewter' 'Black / Saddle' 'Camel Leather'
 'Black/Saddle Brown' 'Macchiato' 'Anthracite' 'Mocha' 'Whisper Beige'
 'Titan Black / Quarzit' 'Sahara Tan' 'Porpoise' 'Black/Red' 'Titan Black'
 'AMG Black' 'Deep Cypress' 'Light Slate' 'Red / Black' 'Beluga Hide'
 'Tupelo' 'Gideon' 'Rhapsody Blue' 'Medium Light Camel' 'Almond Beige'
 'Black / Gray' 'Nero' 'Agave Green' 'Deep Chestnut' 'Dark Auburn' 'Shale'
 'Silk Beige/Black' 'BEIGE' 'Magma Red' 'Linen' 'Black / Stone Grey'
 'Sand Beige' 'Red/Black' 'Bianco Polar' 'Light Gray' 'Platinum' 'Sport'
 'Ash' 'Black / Graphite' 'Nougat Brown' 'Camel' 'Mountain Brown'
 'Pimento / Ebony' 'Classic Red' 'Sakhir Orange/Black' 'Cobalt Blue'
 'Very Light Cashmere' 'Kyalami Orange' 'Orchid' 'Beluga' 'WHITE']
accident: has 3 unique values
['None reported' 'At least 1 accident or damage reported' nan]
clean_title: has 2 unique values
['Yes' nan]
price: has 1569 unique values
[ 4200  4999 13900 ... 33498 81998 13310]

In [11]:
missing_columns = df.columns[df.isnull().any()].to_list()
for col in missing_columns:
    df[f"{col}_missing"] = df[col].isnull().astype(int)
df.fillna(df.mode().iloc[0], inplace=True)

In [12]:
df.isnull().any().any()

np.False_

In [13]:
df.shape

(188533, 15)